@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@model List<IdentityUser>

<h1>Manage User Roles</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", await UserManager.GetRolesAsync(user))</td>
                    <td>
                    @if (!await UserManager.IsInRoleAsync(user, "Administrator"))
                    {
                                <form asp-action="SetEmployeeRole">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <button type="submit" class="btn btn-primary">Set Employee Role</button>
                                </form>
                                <form asp-action="SetCoordinatorRole">
                                    <input type="hidden" name="userId" value="@user.Id" />
                                    <button type="submit" class="btn btn-primary">Set Coordinator Role</button>
                                </form>
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
